name: dependency-review

on:
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  pull-requests: write

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Dependency review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4
        with:
          comment-summary-in-pr: on-failure
          fail-on-severity: moderate
          retry-on-snapshot-warnings: true
          show-openssf-scorecard: false
          warn-on-openssf-scorecard-level: 9
