name: qodana

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  qodana:
    uses: ./.github/workflows/_qodana-contract.yml
    with:
      artifact_name: ci-qodana
      upload_sarif: true
    secrets: inherit
