name: qodana

on:
    push:
        branches: ["main"]
    pull_request:

permissions:
    contents: read

jobs:
    qodana:
        runs-on: ubuntu-latest
        env:
            QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        steps:
            - uses: actions/checkout@v4

            -   name: Run Qodana
                if: env.QODANA_TOKEN != ''
                uses: JetBrains/qodana-action@v2025.3
                with:
                    image: jetbrains/qodana-dotnet:2025.3
                    results-dir: qodana-results
                    upload-result: false
            
            
            - name: Upload SARIF artifact
              if: env.QODANA_TOKEN != ''
              uses: actions/upload-artifact@v4
              with:
                  name: qodana-sarif
                  path: qodana-results/qodana.sarif.json
                  if-no-files-found: error
